*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pv{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #000000;
}


.h1v{
    font-size: 25px; 
    font-family: "Nico Moji";
    font-weight: bold;
    color: #000000;
}

 
